
# db
POSTGRES_USER=prisma
POSTGRES_PASSWORD=prisma_test
POSTGRES_DB=app_test
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?schema=public"

# web3
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=''
NEXT_PUBLIC_WS_RPC_URL='wss://sepolia.drpc.org'